# Vim's .swp files
*.swp

# My vim session
mysession.vim

# The build directory
build/

# Packaging
_gtkmm/debian/.debhelper/
_gtkmm/debian/debhelper-build-stamp
_gtkmm/debian/files
_gtkmm/debian/legacy-widgets-for-gtk-dev.debhelper.log
_gtkmm/debian/legacy-widgets-for-gtk-dev.substvars
_gtkmm/debian/legacy-widgets-for-gtk-dev/
_gtkmm/debian/legacy-widgets-for-gtk1.debhelper.log
_gtkmm/debian/legacy-widgets-for-gtk1.substvars
_gtkmm/debian/legacy-widgets-for-gtk1/
_gtkmm/debian/tmp/
_gtkmm/obj-x86_64-linux-gnu/
deb/
