# Vim's .swp files
*.swp

# My vim session
mysession.vim

# The build directory
build/

# Packaging
gtkmm/debian/.debhelper/
gtkmm/debian/debhelper-build-stamp
gtkmm/debian/files
gtkmm/debian/legacy-widgets-for-gtk-dev.debhelper.log
gtkmm/debian/legacy-widgets-for-gtk-dev.substvars
gtkmm/debian/legacy-widgets-for-gtk-dev/
gtkmm/debian/legacy-widgets-for-gtk1.debhelper.log
gtkmm/debian/legacy-widgets-for-gtk1.substvars
gtkmm/debian/legacy-widgets-for-gtk1/
gtkmm/debian/tmp/
gtkmm/obj-x86_64-linux-gnu/
deb/
